In [1]:
#Aquí es donde crearemos la ETL de nuestro proyecto. En la bitacora ya se definio que elementos se van a eliminar
#Cuales se van a expandir y cuales a retrabajar.

In [2]:
#comenzamos importando nuestras librerias
import pandas as pd

In [3]:
#Empezamos leyendo nuestros csvs
df1 = pd.read_csv('./Csvs/Output_steam.csv')

C:\Users\jared\AppData\Local\Temp\ipykernel_19996\315883233.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('./Csvs/Output_steam.csv')

In [4]:
df2 = pd.read_csv('./Csvs/australian_items.csv')

In [5]:
df3 = pd.read_csv('./Csvs/australian_reviwes.csv')

In [6]:
df22 = pd.read_csv('./Csvs/australian_items_expanded.csv')

In [7]:

#Una vez importados nuestros datos comenzamos con la limpieza de los mismos como mencionamos en la EDA
#Para el primer DataFrame (df1) vamos a eliminar todas las filas que contengan valores NA
df1_clean = df1.dropna()
df1_clean.head()

#Ya no tenemos valores vacios o NA

,Unnamed: 0,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro
88311,88311,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,0.0,643980.0,Secret Level SRL
88312,88312,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,0.0,670290.0,Poolians.com
88313,88313,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,0.0,767400.0,彼岸领域
88315,88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"['Action', 'Adventure', 'Simulation', 'FPS', '...",http://steamcommunity.com/app/772540/reviews/?...,"['Single-player', 'Steam Achievements']",3.99,0.0,772540.0,Trickjump Games Ltd

In [8]:
Output_steam_df = df1_clean
Output_steam_df = Output_steam_df.drop('Unnamed: 0', axis= 1)
Output_steam_df = Output_steam_df.drop('url', axis= 1)
Output_steam_df = Output_steam_df.drop('reviews_url', axis= 1)
Output_steam_df = Output_steam_df.drop('app_name', axis= 1)

Output_steam_df.head()

,publisher,genres,title,release_date,tags,specs,price,early_access,id,developer
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",['Single-player'],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...","['Single-player', 'Multi-player', 'Online Mult...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...","['Single-player', 'Multi-player', 'Online Mult...",Free to Play,0.0,670290.0,Poolians.com
88313,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,"['Action', 'Adventure', 'Casual']",['Single-player'],0.99,0.0,767400.0,彼岸领域
88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-01-04,"['Action', 'Adventure', 'Simulation', 'FPS', '...","['Single-player', 'Steam Achievements']",3.99,0.0,772540.0,Trickjump Games Ltd

In [9]:
#Una ultima limpieza para las columnas...
def clean(x):
    x = x.replace('[', '')
    x = x.replace(']', '')
    x = x.replace("'", "")
    x = x.split(',')
    return x

Output_steam_df['genres'] = Output_steam_df['genres'].apply(clean)
Output_steam_df['tags'] = Output_steam_df['tags'].apply(clean)
Output_steam_df['specs'] = Output_steam_df['specs'].apply(clean)
Output_steam_df.head()

,publisher,genres,title,release_date,tags,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card ...","[Single-player, Multi-player, Online Multi-P...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, ...",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, ...","[Single-player, Multi-player, Online Multi-P...",Free to Play,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",[Single-player],0.99,0.0,767400.0,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,"[Action, Adventure, Simulation, FPS, Shoot...","[Single-player, Steam Achievements]",3.99,0.0,772540.0,Trickjump Games Ltd

In [10]:
#Una vez eliminados los valores faltantes guardamos neustra DF en un nuevo csv
df1_clean.to_csv('./Csvs/Output_steam_post_etl.csv')

In [11]:
df2.head()

,Unnamed: 0,user_id,items_count,steam_id,user_url,items
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [12]:
#Para el segundo DataFrame (df2) vamos a eliminar la columna user_url y a desanidar la información de la última columna
df2 = df2.drop('user_url', axis= 1)
df2.head()
#Ya eliminamos la columna sobrante, ahora vamos a desanidar la info de la ultima columna

,Unnamed: 0,user_id,items_count,steam_id,items
0,0,76561197970982479,277,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,1,js41637,888,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,2,evcentric,137,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,3,Riot-Punch,328,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,4,doctr,541,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [13]:
#Tambien eliminamos la columna de items ya que la podemos relacionar con nuestra otra de datos expandidos
df2 = df2.drop('items', axis= 1)

In [14]:
df2.head()

   Unnamed: 0            user_id  items_count           steam_id
0           0  76561197970982479          277  76561197970982479
1           1            js41637          888  76561198035864385
2           2          evcentric          137  76561198007712555
3           3         Riot-Punch          328  76561197963445855
4           4              doctr          541  76561198002099482

In [15]:
#Ya tenemos nuestros datos listos, así que procedemos a guardarlos en un nuevo csv
df2.to_csv('./Csvs/Australian_items_post_etl.csv')

In [16]:
#Ahora del ultimo dataframe:
df3.head()

,Unnamed: 0,user_id,user_url,reviews
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [17]:
#De este vamos a eliiminar la columna user_url y la de reviews. Posteriormente guardaremos el df en un nuevo archivo csv
df3 = df3.drop('user_url', axis= 1)
df3 = df3.drop('reviews', axis= 1)

df3.head()

   Unnamed: 0            user_id
0           0  76561197970982479
1           1            js41637
2           2          evcentric
3           3              doctr
4           4          maplemage

In [18]:
#Lo importamos a un csv
df3.to_csv('./Csvs/Australian_reviews_post_etl.csv')

In [19]:
#Con esto terminamos la ETL. Posteriormente se van a hacer las consultas con SQL para poder realizar las funciones pedidas para el proyecto