In [115]:
import pandas as pd

In [14]:
Output_steam_df = pd.read_csv('./Parquets/Output_steam_post_etl.csv')

In [15]:
Output_steam_df = Output_steam_df.drop('Unnamed: 0.1', axis= 1)
Output_steam_df = Output_steam_df.drop('Unnamed: 0', axis= 1)
Output_steam_df = Output_steam_df.drop('url', axis= 1)
Output_steam_df = Output_steam_df.drop('reviews_url', axis= 1)
Output_steam_df = Output_steam_df.drop('app_name', axis= 1)

Output_steam_df.head()

,publisher,genres,title,release_date,tags,specs,price,early_access,id,developer
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",['Single-player'],4.99,0.0,761140.0,Kotoshiro
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...","['Single-player', 'Multi-player', 'Online Mult...",Free To Play,0.0,643980.0,Secret Level SRL
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...","['Single-player', 'Multi-player', 'Online Mult...",Free to Play,0.0,670290.0,Poolians.com
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,"['Action', 'Adventure', 'Casual']",['Single-player'],0.99,0.0,767400.0,彼岸领域
4,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-01-04,"['Action', 'Adventure', 'Simulation', 'FPS', '...","['Single-player', 'Steam Achievements']",3.99,0.0,772540.0,Trickjump Games Ltd

In [16]:
#Una ultima limpieza para la columna genres...
def clean(x):
    x = x.replace('[', '')
    x = x.replace(']', '')
    x = x.replace("'", "")
    x = x.split(',')
    return x

Output_steam_df['genres'] = Output_steam_df['genres'].apply(clean)
Output_steam_df['tags'] = Output_steam_df['tags'].apply(clean)
Output_steam_df['specs'] = Output_steam_df['specs'].apply(clean)
Output_steam_df.head()

,publisher,genres,title,release_date,tags,specs,price,early_access,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],4.99,0.0,761140.0,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card ...","[Single-player, Multi-player, Online Multi-P...",Free To Play,0.0,643980.0,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, ...",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, ...","[Single-player, Multi-player, Online Multi-P...",Free to Play,0.0,670290.0,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",[Single-player],0.99,0.0,767400.0,彼岸领域
4,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,"[Action, Adventure, Simulation, FPS, Shoot...","[Single-player, Steam Achievements]",3.99,0.0,772540.0,Trickjump Games Ltd

In [17]:
Australian_items_df = pd.read_csv('./Csvs/Australian_items_post_etl.csv')

In [18]:
Australian_items_df = Australian_items_df.drop('Unnamed: 0.1', axis= 1)
Australian_items_df = Australian_items_df.drop('Unnamed: 0', axis= 1)

In [19]:
Australian_items_df.head()

             user_id  items_count           steam_id
0  76561197970982479          277  76561197970982479
1            js41637          888  76561198035864385
2          evcentric          137  76561198007712555
3         Riot-Punch          328  76561197963445855
4              doctr          541  76561198002099482

In [20]:
Australian_Items_Expanded_df = pd.read_csv('./Csvs/australian_items_expanded.csv')

In [21]:
Australian_Items_Expanded_df = Australian_Items_Expanded_df.drop('Unnamed: 0', axis= 1)
Australian_Items_Expanded_df.head()

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0

In [22]:
Australian_Reviews_df = pd.read_csv('./Csvs/Australian_reviews_post_etl.csv')
Australian_Reviews_df.head()

   Unnamed: 0.1  Unnamed: 0            user_id
0             0           0  76561197970982479
1             1           1            js41637
2             2           2          evcentric
3             3           3              doctr
4             4           4          maplemage

In [23]:
Australian_Reviews_df = Australian_Reviews_df.drop('Unnamed: 0.1', axis= 1)
Australian_Reviews_df = Australian_Reviews_df.drop('Unnamed: 0', axis= 1)
Australian_Reviews_df.head()

             user_id
0  76561197970982479
1            js41637
2          evcentric
3              doctr
4          maplemage

In [24]:
Australian_Reviews_Expanded_df = pd.read_csv('./Csvs/australian_reviews_expanded.csv')
Australian_Reviews_Expanded_df.head()

,Unnamed: 0,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,0,76561197970982479,10,Counter-Strike,6,0
1,1,76561197970982479,20,Team Fortress Classic,0,0
2,2,76561197970982479,30,Day of Defeat,7,0
3,3,76561197970982479,40,Deathmatch Classic,0,0
4,4,76561197970982479,50,Half-Life: Opposing Force,0,0

In [25]:
Australian_Reviews_Expanded_df = Australian_Reviews_Expanded_df.drop('Unnamed: 0', axis= 1)
Australian_Reviews_Expanded_df['item_id'] = Australian_Reviews_Expanded_df['item_id'].astype(str)
Australian_Reviews_Expanded_df.head()

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0

In [26]:
#En este momento tenemos listos los dataframes para empezar a desarrollar nuestras funciones...

In [27]:
#Empezaremos con la función:

'''

def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

'''

'\n\ndef PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.\nEjemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}\n\n'

In [28]:
#Funcion 01
def PlayTimeGenre(genero):

    df_generos = Output_steam_df

    def busca_genero(x):
        return genero in x

    #Este df contiene las lineas con el genero deseado
    generos_encontrados_df = df_generos[df_generos['genres'].apply(lambda z: busca_genero(z))]
    generos_encontrados_df['id'] = generos_encontrados_df['id'].astype(str)
    generos_encontrados_df['id'] = generos_encontrados_df['id'].str.replace(r'\.0$', '', regex=True)

    #Extraemos los IDS a buscar en australian_revies_expanded para poder encontrar las horas de juego
    ids_a_buscar = generos_encontrados_df['id']

    #Creamos un nuevo dataframe con los valores de nuestro coincidencias en ambos dataframes
    df_ids_coincidentes = Australian_Reviews_Expanded_df[Australian_Reviews_Expanded_df['item_id'].isin(ids_a_buscar)]

    #Creamos un dataframe con los ids y la sumas de sus horas
    df = df_ids_coincidentes
    df_suma_por_id = df.groupby('item_id')['playtime_2weeks'].sum().reset_index()

    #Extramemos la fila que contenga el valor de horas mayor para obtener su ID
    # Encontrar el índice del máximo
    indice_maximo = df_suma_por_id['playtime_2weeks'].idxmax()

    # Extraer la fila con el valor más alto
    fila_maximo = df_suma_por_id.loc[indice_maximo]
    IDfinal = fila_maximo['item_id']

    #Para sacar el año
    fecha_encontrada = generos_encontrados_df.loc[generos_encontrados_df['id'] == IDfinal, 'release_date'].values
    fecha_encontrada = fecha_encontrada[0].split('-')
    año = fecha_encontrada[0]
    return año

genero = input('Ingrese el genero:')
año = PlayTimeGenre(genero)
print(f'El año con más horas jugadas por en el genero {genero} es: {año}')

El año con más horas jugadas por en el genero RPG es: 2015

C:\Users\jared\AppData\Local\Temp\ipykernel_22300\1153494869.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  generos_encontrados_df['id'] = generos_encontrados_df['id'].astype(str)
C:\Users\jared\AppData\Local\Temp\ipykernel_22300\1153494869.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  generos_encontrados_df['id'] = generos_encontrados_df['id'].str.replace(r'\.0$', '', regex=True)

In [29]:
#Función 2
def UserForGenre(genero):
    df_generos = Output_steam_df

    def busca_genero(x):
        return genero in x

    def busca_usuario_juegos(z):
        return Id_final_user in z

    def get_only_yeas(y):
        y = y.split('-')
        return y[0]

    def clasificador_anual(years_list):
        
        def year_search(i, x):
            return i in x

        lista_años_final = []

        for i in years_list:
            lista_años_final.append(i)
            juegos_año_i = datos_del_usuario_con_fehca_Df[datos_del_usuario_con_fehca_Df['release_date'].apply(lambda x: year_search(i, x))]
            id_juegos_año_i = juegos_año_i['id']
            juegos_user_hours_i = juegos_del_usuario_df[juegos_del_usuario_df['item_id'].isin(id_juegos_año_i)]
            horas_juego_añi_i = juegos_user_hours_i['playtime_2weeks'].sum()
            lista_años_final.append(horas_juego_añi_i)
        
        return lista_años_final

    def clasificador(respuesta):
        # Convertir la lista en una lista de tuplas (año, número)
        tuples_list = [(respuesta[i], respuesta[i+1]) for i in range(0, len(respuesta), 2)]

        # Ordenar la lista de tuplas por el año en orden descendente
        sorted_tuples = sorted(tuples_list, key=lambda x: int(x[0]), reverse=True)

        # Convertir la lista de tuplas ordenada en una lista plana de 2xn
        result_list = [item for sublist in sorted_tuples for item in sublist]
        return result_list


    #Este df contiene las lineas con el genero deseado
    generos_encontrados_df = df_generos[df_generos['genres'].apply(lambda z: busca_genero(z))]
    generos_encontrados_df['id'] = generos_encontrados_df['id'].astype(str)
    generos_encontrados_df['id'] = generos_encontrados_df['id'].str.replace(r'\.0$', '', regex=True)

    #Extraemos los IDS a buscar en australian_revies_expanded para poder encontrar las horas de juego
    ids_a_buscar = generos_encontrados_df['id']

    #Creamos un nuevo dataframe con los valores de nuestro coincidencias en ambos dataframes
    df_ids_coincidentes = Australian_Reviews_Expanded_df[Australian_Reviews_Expanded_df['item_id'].isin(ids_a_buscar)]

    #Creamos un dataframe con los ids y la sumas de sus horas
    df = df_ids_coincidentes
    df_suma_por_id = df.groupby('user_id')['playtime_2weeks'].sum().reset_index()

    #Extramemos la fila que contenga el valor de horas mayor para obtener su ID
    # Encontrar el índice del máximo
    indice_maximo = df_suma_por_id['playtime_2weeks'].idxmax()

    # Extraer la fila con el valor más alto
    fila_maximo = df_suma_por_id.loc[indice_maximo]
    Id_final_user = fila_maximo['user_id']

    #Ya tenemos el Id del usuario que mas horas jugó, ahora hay que extraer el id de los items que jugo, sacar la suma de horas por año
    juegos_del_usuario_df = Australian_Reviews_Expanded_df[Australian_Reviews_Expanded_df['user_id'].apply(lambda z : busca_usuario_juegos(z))]

    #ahora tenemos que extraer el item_name para buscarlo en df genero_encontrados, para extraer los años
    nombre_juegos = juegos_del_usuario_df['item_name']

    #Extraemos las filas con los juegos
    datos_del_usuario_con_fehca_Df = generos_encontrados_df[generos_encontrados_df['title'].isin(nombre_juegos)]
    datos_del_usuario_con_fehca_Df['release_date'] = datos_del_usuario_con_fehca_Df['release_date'].apply(lambda n: get_only_yeas(n))
    years_list = datos_del_usuario_con_fehca_Df['release_date'].str.extract('(\d+)')[0].unique().tolist()

    #Extraemos el Id del juego y la fecha
    fecha_id_juego_df = datos_del_usuario_con_fehca_Df[['release_date', 'id']]
    items_ids = fecha_id_juego_df['id']

    #Extraemos las horas jugadas por el id del juego y del usuario 
    horas_juego_user_gameId = Australian_Reviews_Expanded_df.loc[(Australian_Reviews_Expanded_df['user_id'] == Id_final_user) & (Australian_Reviews_Expanded_df['item_id'].isin(items_ids))]

    respuesta = clasificador_anual(years_list)
    clasificacion_anual =clasificador(respuesta)
    return (Id_final_user, clasificacion_anual)


genero = input('Ingrese el genero:')
id = ''
id, lista = UserForGenre(genero)

print(f'El usuario con más horas de juego para el genero {genero} es: {id}\nY las horas por año:\n{lista}')

<>:76: SyntaxWarning: invalid escape sequence '\d'
<>:76: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jared\AppData\Local\Temp\ipykernel_22300\3253726775.py:76: SyntaxWarning: invalid escape sequence '\d'
  years_list = datos_del_usuario_con_fehca_Df['release_date'].str.extract('(\d+)')[0].unique().tolist()
C:\Users\jared\AppData\Local\Temp\ipykernel_22300\3253726775.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  generos_encontrados_df['id'] = generos_encontrados_df['id'].astype(str)
C:\Users\jared\AppData\Local\Temp\ipykernel_22300\3253726775.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  generos_encontrados_df['id'] = generos_encontrados_df['id'].str.replace(r'\.0$', '', regex=True)
C:\Users\jared\AppData\Local\Temp\ipykernel_22300\3253726775.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_del_usuario_con_fehca_Df['release_date'] = datos_del_usuario_con_fehca_Df['release_date'].apply(lambda n: get_only_yeas(n))

El usuario con más horas de juego para el genero RPG es: genzzii
Y las horas por año:
['2016', 15062, '2015', 0, '2003', 0]

In [103]:
#Función 03
def UsersRecommend(x):
    df_reviews = pd.read_csv('./Csvs/user_reviews.csv')
    año = x
    df_reviews['item_id']= df_reviews['item_id'].astype(str)
    #Extraemos los juegos de ese año
    juegos_anio_i = Output_steam_df[Output_steam_df['release_date'].apply(lambda x: año in x)]
    juegos_anio_i['id'] = juegos_anio_i['id'].astype(str).str.replace(r'\.0$', '', regex=True)
    #De las reviews extraemos solo los juegos del año que nos interesa
    ids = juegos_anio_i['id']
    reviews_juegos_x_anio_i = df_reviews[df_reviews['item_id'].isin(ids)]
    #Ahora contamos por juego la cantidad de reseñas que lo recomiendan
    conteo_reviews_x_juego = reviews_juegos_x_anio_i[reviews_juegos_x_anio_i['recommend'] == True].groupby('item_id')['recommend'].sum().reset_index()
    #Ahora sacamos el top 3 en dataframe
    top_3_reviews_df = conteo_reviews_x_juego.nlargest(3, 'recommend')
    top3_ids = top_3_reviews_df['item_id']
    #Ya tenemos el ID del top 3 de los juegos, ahora solo extraemos los nombres
    datos_juegos_top3 = juegos_anio_i[juegos_anio_i['id'].isin(top3_ids)]
    top3_nombres = datos_juegos_top3['title'].tolist()
    return top3_nombres

x = input('Año: ')
top3 = UsersRecommend(x)
print(f'El top 3 de juegos más recomendados para el año: {año} son:\nPuesto 1: {top3[0]}\nPuesto 2: {top3[1]}\nPuesto 3: {top3[2]}')

El top 3 de juegos más recomendados para el año: 2015 son:
Puesto 1: Portal 2
Puesto 2: No More Room in Hell
Puesto 3: Terraria

C:\Users\jared\AppData\Local\Temp\ipykernel_22300\2588065777.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juegos_anio_i['id'] = juegos_anio_i['id'].astype(str).str.replace(r'\.0$', '', regex=True)

In [114]:
#Función 04

def UsersNotRecommend(x):
    df_reviews = pd.read_csv('./Csvs/user_reviews.csv')
    año = x
    df_reviews['item_id']= df_reviews['item_id'].astype(str)
    #Extraemos los juegos de ese año
    juegos_anio_i = Output_steam_df[Output_steam_df['release_date'].apply(lambda x: año in x)]
    juegos_anio_i['id'] = juegos_anio_i['id'].astype(str).str.replace(r'\.0$', '', regex=True)
    #De las reviews extraemos solo los juegos del año que nos interesa
    ids = juegos_anio_i['id']
    reviews_juegos_x_anio_i = df_reviews[df_reviews['item_id'].isin(ids)]
    #Ahora contamos por juego la cantidad de reseñas que lo recomiendan
    conteo_reviews_x_juego = reviews_juegos_x_anio_i[reviews_juegos_x_anio_i['recommend'] == True].groupby('item_id')['recommend'].sum().reset_index()
    #Ahora sacamos el top 3 en dataframe
    top_3_reviews_df = conteo_reviews_x_juego.tail(3)
    top3_ids = top_3_reviews_df['item_id']
    #Ya tenemos el ID del top 3 de los juegos, ahora solo extraemos los nombres
    datos_juegos_top3 = juegos_anio_i[juegos_anio_i['id'].isin(top3_ids)]
    top3_nombres = datos_juegos_top3['title'].tolist()
    return top3_nombres

x = input('Año: ')
top3 = UsersNotRecommend(x)
print(f'El top 3 de juegos MENOS recomendados para el año: {año} son:\nPuesto 1: {top3[0]}\nPuesto 2: {top3[1]}\nPuesto 3: {top3[2]}')

El top 3 de juegos MENOS recomendados para el año: 2015 son:
Puesto 1: The Withering
Puesto 2: Rocket League® - Aftershock
Puesto 3: Rocket League® - Masamune

C:\Users\jared\AppData\Local\Temp\ipykernel_22300\1193720088.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juegos_anio_i['id'] = juegos_anio_i['id'].astype(str).str.replace(r'\.0$', '', regex=True)